body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
  }

  .fa-brands.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .fa-brands.fa-facebook {
    color: #2f55a4;
  }

  .fa-brands.fa-whatsapp {
    color:#fff;
    background: linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 58%,transparent 0);
  }