.dev-section {
    font-size: 0.8rem;
    color: var(--white);
}

.dev-section a {
    text-decoration: none;
    font-size: 0.9rem;
}

.dev-section i {
    font-size: 1.1rem;
}

footer {
    position: relative;
}